<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <property name="format_sql">true</property>
        <!--<property name="dialect">org.hibernate.dialect.SQLiteDialect</property>-->
        <!--<property name="connection.driver_class">org.sqlite.JDBC</property>-->
        <!--<property name="connection.url">jdbc:sqlite:Database/vanzari.db</property>-->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/vanzari</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="show_sql">false</property>
        <mapping class="vanzari.domain.Produs"/>
        <mapping class="vanzari.domain.Vanzare"/>
        <mapping class="vanzari.domain.Stoc"/>
        <mapping class="vanzari.domain.Factura"/>
        <mapping class="vanzari.domain.SoldTotal"/>
    </session-factory>
</hibernate-configuration>